<!DOCTYPE html>
<html lang="{{ craft.app.language }}">
	<head>
		<meta charset="utf-8" />
		<title>
			{{ siteName }}
		</title>
		<meta content="width=device-width, initial-scale=1.0" name="viewport" />
		<link href="{{ craft.vite.asset('src/sass/main.scss') }}"
			rel="stylesheet" />
		{{ craft.vite.includeCriticalCssTags() }}
	</head>
	<body class="ltr">
		{% block content %}

		{% endblock %}
		{{ craft.vite.script('src/js/app.ts') }}
	</body>
</html>
